@font-face {
   font-family: 'font';
   font-display: swap;
   src: url('file:///Users/florabel.lhors/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-04-18_002103/fonts/font/font.ttf');
}
